<div class="inner conBox">
    <h2 class="subTit">๋ก๊ทธ์ธ</h2>
    <p class="subText">๋ฐฉ๋ฌธํด์ฃผ์์ ๊ฐ์ฌํฉ๋๋ค. ๐ฉต</p>
    <div class="loginForm">
        <input id="loginEmail" type="text" placeholder="์์ด๋"/>
        <input id="loginPass" type="password" placeholder="๋น๋ฐ๋ฒํธ"/>
        <button id="loginBtn" class="btn">๋ก๊ทธ์ธ</button>
        <p class="errorText"></p>
    </div>
</div>

<script type="module" src="/javascripts/login.js"></script>