<div class="inner conBox">
    <h2 class="subTit">νμ›κ°€μ…</h2>
    <p class="subText">π““ λ¶λ©”μ΄νΈκ°€ λμ–΄μ£Όμ„Έμ”.</p>
    <form class="loginForm" submit="">
        <input id="signUpEmail" type="text" placeholder="μ΄λ©”μΌμ£Όμ†"/>
        <input id="signUppassword" type="password" placeholder="λΉ„λ°€λ²νΈ"/>
        <input id="signUpRepassword" type="password" placeholder="λΉ„λ°€λ²νΈν™•μΈ"/>
        <button id="signUpBtn" class="btn">νμ›κ°€μ…</button>
        <p class="errorText"></p>
    </form>
</div>

<script type="module" src="/javascripts/signUp.js"></script>