<div class="container">
    <section>
        <h3 class="conTit"><a href="#">북메이트 모집중 💬</a></h3>
        <div class="recruitCon">
            <ul>
                <li>
                    <a href="#">
                        <div class="conTop"><img class="thumbnail" src="/images/bookimage.jpg" alt="북메이트 모집중"/></div>
                        <div class="conBottom">
                            <h4 class="tit">독서모임해요!!!!!</h4>
                            <p class="txt">독서모임해요 어서오세요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="conTop"><img class="thumbnail" src="/images/bookimage.jpg" alt="북메이트 모집중"/></div>
                        <div class="conBottom">
                            <h4 class="tit">독서모임해요!!!!!</h4>
                            <p class="txt">독서모임해요 어서오세요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="conTop"><img class="thumbnail" src="/images/bookimage.jpg" alt="북메이트 모집중"/></div>
                        <div class="conBottom">
                            <h4 class="tit">독서모임해요!!!!!</h4>
                            <p class="txt">독서모임해요 어서오세요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="conTop"><img class="thumbnail" src="/images/bookimage.jpg" alt="북메이트 모집중"/></div>
                        <div class="conBottom">
                            <h4 class="tit">독서모임해요!!!!!</h4>
                            <p class="txt">독서모임해요 어서오세요</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <h3 class="conTit">📘 베스트셀러를 소개합니다.</h3>
        <div>
            
        </div>
    </section>
    <section>
        <h3 class="conTit">📖 나의 인생 책 구절</h3>
        <div>
            
        </div>
    </section>
    <section>
        <h3 class="conTit">📚 나의 독서 기록</h3>
        <div>

        </div>
    </section>
</div>