<header>
    <div class="inner">
        <h1><a href="/">Bookmate.</a></h1>
        <nav>
            <ul>
                <li><a href="/login">๋ก๊ทธ์ธ</a></li>
                <li><a href="/signUp">ํ์๊ฐ์</a></li>
            </ul>
        </nav>
    </div>
</header>

<script type="module">
    const isLogin = localStorage.getItem("bookmateIsLogin");
    if(isLogin){
        const email = localStorage.getItem("bookmateIsEmail");
        document.querySelector('ul').innerHTML = `
            <li><a href="/myPage">๐&nbsp;&nbsp;${email}&nbsp;๋</a></li>
            <li><a onclick="logout()">๋ก๊ทธ์์</a></li>
        `;
        window.logout = () => {
            localStorage.removeItem("bookmateIsLogin");
            localStorage.removeItem("bookmateIsUid");
            localStorage.removeItem("bookmateIsEmail");
            window.location.href = "/";
        }
    }else{
        document.querySelector('ul').innerHTML = `
            <li><a href="/login">๋ก๊ทธ์ธ</a></li>
            <li><a href="/signUp">ํ์๊ฐ์</a></li>
        `;
    }
</script>